uvicorn
pydantic
huggingface_hub
torch
gunicorn
fastapi
python-dotenv
PyMuPDF
numpy
faiss-cpu
requests
sentence-transformers
spacy
groq
python-multipart
python-docx
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
